:root {
  --bg-image: url(https://static.vecteezy.com/system/resources/previews/000/691/497/non_2x/rock-paper-scissors-neon-icons-vector.jpg);
}

body {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}
body {
  background-image: var(--bg-image);

  background-size: cover;
  width: 100%;
  height: 100%;
  resize: both;
  overflow: scroll;
}

.btn {
  background-color: rgb(89, 64, 55);
  opacity: 70%;
  color: white;
  border-radius: 12px;
  font-size: 27px;
  margin: 10px 12px;
  padding: 4px 4px;
  
}
.btn:hover {
  background-color: rgb(81, 255, 0);
  border: 2px solid white;
  color: darkblue;
}
.info {
  color: white;
  font-size: 35px;
}
