:root {
  --bg-image: url(https://static.vecteezy.com/system/resources/previews/000/691/497/non_2x/rock-paper-scissors-neon-icons-vector.jpg);
}

body {
  background-image: var(--bg-image)

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}
